
body {
    background-color: black;
    width: 100%;
}
main {
    height: 6000px;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}


.header  {
    background-color: #27044B;
    position: fixed;
    top: 0;
    transition: 0.2s;
    width: 100%;
} 


Header a {
    text-decoration: none;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    color: white;
}
.box {
    display: inline-block;
    margin-left: 30px;
    right: 300px;
    padding: 0 50px;
}

.img2 {
    width: 100%;
    height: 400px;
}
.img1 {
    position: relative;
    top: 40px;
    left: 20px;
}

.contacto {
    text-align: center;
    top: 240px;
    right: 600px;

}  

.contacto a {
    color: white;
    font-size: 50px;
    text-decoration: none;


}
.form1 {
    background-color: #4C0495;
    height: 1000px;
    padding: 100px 0;
    justify-content: center;
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: auto;
    background-color: #A291B4;
    height: 850px;
    padding: 100px 0;
}
.form h1 {
    margin: 50px;
    color: white;
    text-align: center;
    border: solid black;
    padding: 0;
}

/* Pie de Firma */
.piedefirma {
    background-color: #27044B;
    width: 100%;
    color: white;
    padding-top: 150px;
}

.piedefirma .grupo2 {
    text-align: center;
    background-color: black;
    font-size: 20px;
    justify-content: center
}

.grupo2 a {
    text-decoration: none;
    color: white;
}

.grupo1 .box1 {
    display: inline-block;
}

.grupo1 {
    padding-bottom: 100px;
    justify-content: center;
    font-size: large;
}

.grupo1 .box1 a{
    text-decoration: none;
    color: white;
}

/* FORMATO DISPOSITIVO MOVIL */

@media screen and (max-width: 425px) {
    header {
        width: 100%;
    }
    .form {
        display: block;
        width: 100%;
        left: 50px;
        text-align: start;
        justify-content: start; 
    }
    footer {
        width: 100%;
    }
    .img2 {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }
    .form {
        display: block;
        width: 100%;
        text-align: start;
        justify-content: start; 
        padding: 100px 0;
        height: 900px;
    }
    footer {
        width: 100%;
    }
    .img2 {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    body{
        width: 360px;
    } 
    header {
        width: 360px;
    }
    .form {
        display: block;
        width: 360px;
        text-align: start;
        justify-content: start; 
        height: 900px;
        padding: 50px 0;
    }
    footer {
        width: 360px;
    }
    .img2 {
        width: 360px;
    }
    main {
        width: 100%;
        height: 100%;
    }
}