* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #27044B;
}
main {
    background-color: #E0C3FF;
    height: 2000px;
}
header {
    background-color: #27044B;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.header  {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
} 

.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 50px;
}
.header a:hover{
    background-color: aqua;
    color: black;
    border-radius: 100px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.img2 {
    width: 100%;
    height: 600px;
    margin: 120px 0;
}

/* Pie de Firma */
.piedefirma {
    background-color: #27044B;
    width: 100%;
    color: white;
    padding-top: 150px;
}

.piedefirma .grupo2 {
    text-align: center;
    background-color: black;
    font-size: 20px;
    justify-content: center
}

.grupo2 a {
    text-decoration: none;
    color: white;
}

.grupo1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 300px;
    margin: 0;
}

.grupo1 .box1 ul {
    list-style-type: none;
}

.grupo1 .box1 a{
    text-decoration: none;
    color: white;
}

.grupo1 .box1 a:hover {
    background-color: aqua;
    color: black;
    border-radius: 100px;
}


/* Pagina WEB */
.bar  {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0;
    gap: 50px;
    height: 500px;
}

.texto1 h1 {
    text-align: center;
}

.texto {
    border: solid black;
    padding: 0 10px;
    background-color: azure;
}
.texto1 {
    border: solid black;
    padding: 0 10px;
    background-color: aliceblue;
}
