main {
    height: 1000px;
}

header {
    background-color: #27044B;
    width: 100%;
}

Header a {
    text-decoration: none;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    color: white;
}

.box {
    display: inline-block;
    margin-left: 30px;
    right: 300px;
    padding: 0 50px;
   
}
.img2 {
    position: relative;
    width: 100%;
}
.img1 {
    position: relative;
    top: 40px;
    left: 20px;
}

.form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column: auto;
}

.contacto {
    text-align: center;
    background-color: #27044B;
}
.contacto a {
    text-decoration: none;
    font-size: 50px;
    color: white;
}


/* Footer */

.piedefirma {
    background-color: #27044B;
    width: 100%;
    color: white;
    padding-top: 150px;
}

.piedefirma .grupo2 {
    text-align: center;
    background-color: black;
    font-size: 20px;
    justify-content: center
}

.grupo2 a {
    text-decoration: none;
    color: white;
}

.grupo1 .box1 {
    display: inline-block;
}

.grupo1 {
    padding-bottom: 100px;
    justify-content: center;
    font-size: large;
}

.grupo1 .box1 a{
    text-decoration: none;
    color: white;
}

/* Gsuite */

.gsuite {
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
}


@media screen and (max-width: 425px) {
    .img2 {
        width: 425px;
    }
}
@media screen and (max-width: 425px) {
    header {
        width: 425px;
    }    
}

@media screen and (max-width: 425x) {
    footer {
        width: 425px;
    }

}
@media screen and (max-width: 425px) {
    main {
        width: 425px;
    }
}
@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    main {
        width: 100%;    
    }
}