* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #27044B;
}
main {
    height:auto;    
    width: 100%;
    background-color: #E0C3FF;
}
header {
    background-color: #27044B;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.header  {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
} 

.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 50px;
}
.header a:hover{
    background-color: aqua;
    color: black;
    border-radius: 100px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.img2 {
    width: 100%;
    height: 600px;
    margin: 0;
}

/* Footer */

.piedefirma {
    background-color: #27044B;
    width: 100%;
    color: white;
}

.piedefirma .grupo2 {
    text-align: center;
    background-color: black;
    font-size: 20px;
    justify-content: center

}

.grupo2 a {
    text-decoration: none;
    color: white;
}

.grupo1 {
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
}
.grupo1 .box1 ul {
    list-style-type: none;
}

.grupo1 .box1 ul li {
    padding: 5px 0;
}

.grupo1 .box1 h4 {
    padding: 10px 0;
}

.grupo1 .box1 a{
    text-decoration: none;
    color: white;
}

.grupo1 .box1 a:hover {
    background-color: aqua;
    color: black;
    border-radius: 100px;
}


/* Gsuite */


.tag1 {
    margin: auto;
    background-color: cornflowerblue;
}

.tag {
    text-align: center;
    font-size: 50px;
    background-color: cornflowerblue;
    width: 100%;
    padding: 30px 0;
}

 .inicio {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
} 
.inicio2 {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
}
.inicio3 {
    background-color: blanchedalmond;
    border: groove black;
    text-align: center;
    padding: 50px 0;
}
.inicio4 {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
}
.main {
    padding: 100px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}


@media screen and (max-width: 700px) and (max-width: 384px) {
    .header {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .header ul {
        display: block;      
    }
    main {
        width: 100%;
    }
   .main {
    display: grid;
    grid-template-columns: 1fr;
   } 
    .piedefirma .grupo1 {
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (max-width: 384px){ 
    .header {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .header ul {
        display: block;      
    }
    main {
        width: 100%;
    }
   .main {
    display: grid;
    grid-template-columns: 1fr;
   } 
    .piedefirma .grupo1 {
        display: flex;
        flex-direction: column;
    }    
}