* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #27044B;
}
main {
    height:auto;
    background-color: #E0C3FF;
}
header {
    background-color: #27044B;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.header  {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
} 

.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 50px;
}
.header a:hover{
    background-color: aqua;
    color: black;
    border-radius: 100px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.img2 {
    width: 100%;
    height: 800px;
    margin: 0;
}

/* Footer */

.piedefirma {
    background-color: #27044B;
    width: 100%;
    color: white;
    padding-top: 150px;
}

.piedefirma .grupo2 {
    text-align: center;
    background-color: black;
    font-size: 20px;
    justify-content: center
}

.grupo2 a {
    text-decoration: none;
    color: white;
}

.grupo1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 300px;
    margin: 0;
}

.grupo1 .box1 ul {
    list-style-type: none;
}

.grupo1 .box1 a{
    text-decoration: none;
    color: white;
}

.grupo1 .box1 a:hover {
    background-color: aqua;
    color: black;
    border-radius: 100px;
}


/* Gsuite */


.tag1 {
    margin: 0;
    background-color: cornflowerblue;
}

.tag {
    text-align: center;
    font-size: 50px;
    background-color: cornflowerblue;
    width: 100%;
    padding: 30px 0;
}

 .inicio {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
} 
.inicio2 {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
}
.inicio3 {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
}
.inicio4 {
    background-color: blanchedalmond;
    border: solid black;
    text-align: center;
    padding: 50px 0;
}

.inicio4 a {
    text-decoration: none;
    margin: 60px 0;
}


.main {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-content: center;
    margin: 0 300px;

}


@media screen and (max-width: 425px) {
    .img2 {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    header {
        width: 100%;
    }    
}

@media screen and (max-width: 425x) {
    footer {
        width: 100%;
    }
    main {
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .main {
        width: 100%;
        text-align: center;
        justify-content: center; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
    main {
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }
    main {
        height: 100%;
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .main {
        width: 100%;   
        text-align: center;
        justify-content: center; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
}   

@media screen and (max-width: 360px) {
    header {
        width: 100%;
    }
    main {
        height: 100%;
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .main {
        width: 100%;   
        text-align: center;
        justify-content: center; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
}