*{
    padding: 0;
    margin: 0;
}

.pie-pagina{
    width: 100%;
    background-color: #323232;
    height: 100%;
    margin-top: 100%;
}

.firma-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 50px 0px;
    color: white;
    text-align: start;
}

.firma-1 .box p {
    padding: 10px;
    justify-content: end;

}

.firma-1 .box h2 {
    padding: 10px;

}
.firma-1 a {
    text-decoration: none;
    color: white;
    right: 0px;
}

.pie-pagina .box img {
    max-width: 25%;
    max-height: 25%;

}
.pie-pagina .firma-2 {
    background-color: #252525;
    text-align: center;
    font-size: 25px;


}

.firma-2 small {
    align-content: center;
    color: white;
}

.firma-1 .box .logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
}

.firma-1 .box .logo a img {
    max-width: 70%;
    max-height: 70%;
}

body {
    background-color: rgba(74, 73, 79, 0.213);
    margin-bottom: auto;
}

/* Menu */
header {
    background-color: azure;
    width: 100%;
    clear: both;
    content:'';
    display: table;
}
.nav {
    width: 1500px;
    margin: 0 auto;
    float: right;

}
 .nav * {
    text-decoration: none;
    margin-left: 100px;
    box-sizing: border-box;
 }

 .nav img {
    float: left;
    padding: 8px;
 }

 .nav ul li {
    list-style: none;
    float: left;
    color: rgb(0, 0, 0);
 }

 .nav ul li a {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
