
.banner-google {
    width: 100%;
    margin-top: 50px;
    height: 500px;
    margin-bottom: 150px;

}

.bar  {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 auto;
    gap: 50px;
    height: auto;
    max-width: 1000px;
}

.texto1 h1 {
    text-align: center;
}
.texto h1 {
    text-align: center;


}
.texto h1 a {
    text-decoration: none;
    color: white;
}

.texto {
    border: solid;
    padding: 30px 30px;
    background-color: cadetblue;
    border-radius: 10px;
    color: white;
}
.texto1 {
    border: solid;
    padding: 30px 30px;
    background-color: coral;
    border-radius: 10px;
    color: white;

}

@media (max-width: 576px) {
    .bar {
        display: grid;
        grid-template-columns: 1fr;
    }
}
