.paginas {
  
  @include grillas(2);
  gap: 50px;
<<<<<<< HEAD
  width: 1700px;
=======
  width: 1600px;
>>>>>>> 70e60c90b5460165e404ea9cf901eead5aaf7aa5
  margin: 100px auto;
  max-width: 900px;
  padding: 100px 0;
  

  & .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(10, 10, 10, 100%);
    transition: all 500ms ease;
    cursor: default;

    &:hover {
      box-shadow: 0 25px 50px -12px red;
      transform: translateY(-5%);
  
    }
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;

      & a {
        text-decoration: none;
        color: #0d7795;
        font-weight: bolder;
        text-align: center;
      }
    }

    &__description {
      margin-bottom: 40px;
      text-align: center;
      height: 100%;
    }

    &__link {
      background-color: #22c55e;
      display: inline-block;
      width: 100%;
      padding: 15px 0;
      text-align: center;
      color: #e2e8f0;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;

      &:hover {
        transform: translateY(-8%);
        box-shadow: 0 25px 50px -12px red;
        background-color: #27044B;
        color: white;
    
      }

      & a {
        text-decoration: none;
      }

    }
    &__header {
      position: relative;

      &-img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

.statistics {
    margin: 150px 0;
    padding: 100px 20px;
    background-image: url('/assets/images/banner.jpeg');
    @extend .img-back;
  }
  
  .statistics__content {
    color: #e2e8f0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .statistics__content-data {
    font-size: 40px;
    text-align: center;
  }
  
  .statistics__content-data span {
    display: block;
    font-size: 20px;
    margin-top: 5px;
  }

  .slide1 {
    margin-top: 60px;
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> 70e60c90b5460165e404ea9cf901eead5aaf7aa5
  }

  @media (max-width: 1440px) {
    .paginas {
      @include grillas(3);
<<<<<<< HEAD
      width: 100%;
    }
=======
      max-width: 1200px;
      margin: 0 auto;
    }
    .slide1 img {
      height: 500px;
      width: 100%;
    }
  }
  @media(max-width: 1200px){
>>>>>>> 70e60c90b5460165e404ea9cf901eead5aaf7aa5
    .slide1 img {
      height: 500px;
      width: 100%;
    }
<<<<<<< HEAD
  }
  @media (max-width: 1024px) {
    .paginas {
      @include grillas(2);
=======
    .paginas {
      @include grillas(2);
      width: 100%;
    }
  }
  

  @media (max-width: 1024px) {
    .paginas {
      @include grillas(3);
>>>>>>> 70e60c90b5460165e404ea9cf901eead5aaf7aa5
      width: 100%;
    }
    .slide1 img {
      height: 500px;
      width: 100%;
    }
  }

<<<<<<< HEAD
=======
  @media (max-width: 1000px) {
    .paginas {
      @include grillas(2);
      width: 100%;
    }
    .slide1 img {
      height: 500px;
      width: 100%;
    }
  }
>>>>>>> 70e60c90b5460165e404ea9cf901eead5aaf7aa5

@media (max-width: 768px) {
  .paginas {
    @include grillas(2);
    width: 100%;
  }
  .slide1 img {
    height: 500px;
    width: 100%;
    
  }
}
  @media (max-width: 576px) {
    .paginas {
      @include grillas(1);
      width: 100%;
    }
    .slide1 img {
      height: 500px;
      width: 100%;
    }
  }